body
{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
div#game_elements, div#game_elements *
{
	position: absolute;

}
div#game_elements *
{
	/* width: 100000px; */
	/* height: 10000000px; */

}
div#you
{
	width: 48px;
	height: 48px;
	background-image: url('rpg_thing.png');
	top: 300px;
	left: 710px;
	transform: rotate(270deg);
	display: inline-block;
	position: absolute;
	background-position: -96px -48px;
}
div#weirdo
{
	width: 48px;
	height: 48px;
	background-image: url('rpg_thing.png');
	top: 245px;
	left: 1094px;
	transform: rotate(0deg);
	display: inline-block;
	background-position: -48px 48px;
}
div#weirdoguy
{
	background-image: url('talkingguy-Copy.png');
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 300px;
	height: 245px;
	padding-top: 54px;
	padding-left: 134px;
}

div#inventory *
{
	position: relative;
	margin: 5px;
	margin-top: 10px;
	top: 0;
	left: 0;
	z-index: 0;
}
div#camera_movement *
{
	background-color: rgba(20,20,20,0.0);
}
div#top
{
	position: absolute;
	top: 0;
	left: 0;
	height: 20%;
	width: 100%;
	z-index: -1;

}
div#left
{
	position: absolute;
	height: 100%;
	width: 15%;
	z-index: -1;

}
div#right
{
	position: absolute;
	height: 100%;
	width: 15%;
	top: 0;
	right: 0;
	z-index: -1;

}
div#bottom
{
	position: absolute;
	height: 20%;
	width: 100%;
	bottom: 0px;
	z-index: -1;
}
div#shadow
{
	position: absolute;
	top: 300px;
	left: 710px;
	width: 48px;
	height: 48px;
}

div.darn_obstacle
{
	width: 384px;
	height: 192px;
	/* background-color: green; */
	display: inline-block;
	position: relative;
}
div#cave
{
    top: 539px;
    left: 449px;
    width: 635px;
    height: 198px;
	z-index: -2;
    background-color: green;
    display: inline-block;
}
div#test_obstacle
{
	top: 100px;
	left: 700px;
	background-color: green;
	width: 384px;
}
div#test_obstacle2
{
	top: 300px;
	left: 1150px;
	background-color: green;
	width: 384px;
}
div#test_obstacle3
{
    top: 372px;
    left: 350px;
    background-color: green;
    width: 384px;
    height: 169px;
}
div#test_obstacle4
{
    top: 373px;
    left: 700px;
    background-color: green;
    width: 384px;
    height: 168px
}
div#test_obstacle5
{
    top: 246px;
    left: 311px;
    background-color: green;
    width: 335px;
}
div#test_obstacle6
{
    top: 732px;
    left: 404px;
    background-color: green;
	width: 384px;
}
div#test_obstacle7
{
    top: 545px;
    left: 1149px;
    background-color: green;
	width: 384px;
}
div#test_obstacle8
{
    top: 595px;
    left: 766px;
    background-color: green;
}
div#test_obstacle9
{
    top: 540px;
    left: 174px;
	height: 195px;
    background-color: green;
	width: 384px;
}
div#test_obstacle10
{
    top: -6px;
    left: 337px;
    background-color: green;
	width: 384px;
}
div#edge_left
{
	top: 0;
	left: 20px;
	width: 10px;
	height: 1000px;
	background-color: green;
}

div#game_elements div#sword
{
	top: 630px;
	left: 650px;
}
div#game_elements div#box
{
	top: 304;
	left: 1014;
}
div#game_elements div#square
{
	top: 374;
	left: 1094;
}

div#box
{
	width: 40;
	height: 40;
	display: inline-block;
	background-color: gray;
}
#sword
{
	width: 40px;
	height: 40px;
	top: 630px;
	left: 650px;
	background-image: url('sword.png');
	background-size: cover;
	z-index: -4;
	display: inline-block;
}
div#square
{
	width: 40;
	height: 40;
	display: inline-block;
	background-color: pink;
}
div#talkingguy
{
	background-image: url('talkingguy.png');
	position: absolute;
	/* top: 100%;
	left: 100%; */
	bottom: 0px;
	right: 0px;
	width: 300px;
	height: 245px;
	padding-top: 54px;
	padding-left: 134px;
}
.blurFilter
{
	width: 1220%;
	height: 1220%;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	/* filter: url(#blur); */
	filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='10');
	overflow: hidden;
}
#inventory
{
	position: absolute;
	display: inline-block;
	background-color: purple;
	top: 10;
	left: 10;
	width: 300px;
	height: 300px;

}
